@media screen and (max-width: 767px) {
h1 {
font-size:30px;
line-height:34px;
font-weight:600;
margin-bottom:25px
}

h2 {
font-size:24px;
line-height:28px;
font-weight:600;
margin-bottom:10px
}

h3 {
font-size:21px;
line-height:25px;
font-weight:600;
margin-bottom:10px
}

h4 {
font-size:18px;
line-height:24px;
font-weight:600;
margin-bottom:10px
}

h5 {
font-family:'myriad-pro',Helvetica,Arial,sans-serif;
font-size:16px;
line-height:22px;
font-weight:400;
margin-bottom:10px
}

.hide-in-mobile {
display:none
}

#content {
padding-top:75px
}

#WebForm1 > div.container {
padding:0
}

.header {
display:none
}

.fixed-navigation {
height:50px;
background-color:#c20;
width:100%
}

.logo {
margin-left:15px;
max-width:83px;
top:50%;
position:absolute;
margin-top:-17px
}

.search-overlay {
top:0;
left:0;
bottom:0;
right:0;
position:fixed;
display:none;
-webkit-tap-highlight-color:rgba(255,255,255,0);
z-index:99999
}

.box-overlay {
margin-left:0
}

.venue-bg {
background:url(/CMS_BackOffice/ResourceLink.aspx?ResourceName=ns-venue-back-m);
height:440px!important;
background-size:cover
}

.hero-zone {
margin-bottom:45px
}

.ns-venue-bg-color {
height:520px;
background:url(/CMS_BackOffice/ResourceLink.aspx?ResourceName=ns-venue-back);
background-repeat:no-repeat;
background-position:top center;
background-size:cover
}

.past-editions-links a.osbtn {
margin-right:0;
padding:10px 16px
}

.past-editions-links > a:nth-child(1) {
margin-right:15px
}

.past-editions-links {
text-align:center
}

.past-editions-breadcrumb {
display:block;
margin-top:10px
}

.mobile-search-bar {
height:50px;
background-color:#000;
line-height:50px;
vertical-align:middle
}

.mobile-search-body-overlay {
background-color:gray;
opacity:.3;
height:100%;
width:100%
}

input.search {
background-color:#3F3F3F;
border:0;
border-radius:3px;
padding:5px;
width:100%;
display:table-cell;
vertical-align:middle;
font-size:16px
}

.mobile-search-input {
margin-top:15px;
position:absolute;
right:90px;
left:15px
}

.mobile-search-cancel a {
color:#CCC;
font-size:13px;
text-decoration:none
}

.mobile-search-cancel {
width:90px;
position:absolute;
display:inline-block;
text-align:center;
right:0
}

.MenuSlider_Toggler {
display:inline-block;
top:0;
margin-left:-16px
}

.Menu_Container {
margin-bottom:44px;
width:100%
}

.Application_Menu {
display:block;
position:fixed;
right:-800px;
top:0;
width:100%;
height:100%;
overflow:hidden;
padding-left:45px;
-webkit-transition:all .3s ease-out;
transition:all .3s ease-out;
-webkit-transform:translateZ(0);
transform:translateZ(0);
-webkit-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-perspective:1000;
perspective:1000px;
font-family:'myriad-pro',"Helvetica Neue",Helvetica,Arial,sans-serif
}

.LeftMenu .Application_Menu {
left:-270px
}

.MenuSlider_IsOpen .Application_Menu {
right:-50px;
z-index:2
}

.MenuSlider_IsOpen .LeftMenu .Application_Menu {
left:0
}

.MenuSlider_IsOpen select {
z-index:0
}

.Application_Menu .Menu_TopMenu {
width:100%;
border:0;
margin:0;
padding:0
}

body > div.Application_Menu .Menu_DropDownButton,.Application_Menu .Menu_DropDownButton {
display:block;
position:relative
}

.Application_Menu a,.Application_Menu a:link,.Application_Menu a:visited {
display:inline-block;
width:100%;
border:0;
border-bottom:1px solid #262626;
-moz-box-sizing:border-box;
box-sizing:border-box;
font-size:16px;
position:relative;
text-transform:uppercase
}

.Application_Menu .Menu_DropDownPanel {
position:static;
border:0;
margin:0;
padding:0;
background-color:#262626;
box-shadow:none;
border-bottom:0
}

.Application_Menu .Menu_DropDownPanel a,.Application_Menu .Menu_DropDownPanel a:link,.Application_Menu .Menu_DropDownPanel a:visited {
border-bottom:1px solid #3A3A3A
}

.Application_Menu .Menu_DropDownArrow {
position:absolute;
left:65px;
top:21px
}

.MenuSlider_Toggler_Overlay {
top:0;
left:0;
bottom:0;
right:0;
position:fixed;
display:none;
-webkit-tap-highlight-color:rgba(255,255,255,0)
}

.MenuSlider_IsOpen .content-layout-simplify {
height:100%;
overflow:hidden
}

.google-maps-border {
max-width:400px;
margin:0 auto
}

.google-maps-border a {
display:inline-block
}

.google-maps {
display:none
}

.ccb {
background:url(/CMS_BackOffice/ResourceLink.aspx?ResourceName=ccb-map);
height:100px
}

.hotel {
background:url(/CMS_BackOffice/ResourceLink.aspx?ResourceName=hotel-map);
height:100px
}
}

@media only screen and (max-device-width: 767px) and (orientation: landscape) {
.magiccontainer {
width:320px!important;
margin:0 auto
}

.popup-mobile-back {
height:auto!important
}

.hero-zone {
margin-bottom:65px
}

.ns-venue-bg-color {
height:400px
}

.venue-bg {
height:310px!important
}

.home > img:nth-child(1) {
display:none
}

.home > img:nth-child(2) {
display:block;
width:80%;
margin:0 auto
}
}
